<a href="https://colab.research.google.com/github/ASO1801038/AI_tech2020/blob/master/2020AI020A_square.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [ ]:
from urllib.request import urlretrieve
url = "https://raw.githubusercontent.com/masatokg/square_data/master/data.csv"
savepath = "data.csv"
urlretrieve(url,savepath)

square = pd.read_csv(savepath,sep = ",", encoding = "utf-8")
print(square.head())
square.head()

y = square["shape"]
x = square.drop("shape", axis = 1)
x.head()

   a_length  b_length  c_length  ...  cd_Parallel  ab_right_angle   shape
0        10        10        10  ...            1               1  square
1        11        11        11  ...            1               1  square
2        12        12        12  ...            1               1  square
3        13        13        13  ...            1               1  square
4        14        14        14  ...            1               1  square

[5 rows x 8 columns]

   a_length  b_length  c_length  ...  ab_Parallel  cd_Parallel  ab_right_angle
0        10        10        10  ...            1            1               1
1        11        11        11  ...            1            1               1
2        12        12        12  ...            1            1               1
3        13        13        13  ...            1            1               1
4        14        14        14  ...            1            1               1

[5 rows x 7 columns]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
model = RandomForestClassifier()
model.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_pred = model.predict(x_test)
print(classification_report(y_test, y_pred))

correct  = accuracy_score(y_test, y_pred) * 100
print("正解率 = ", correct, "%")

              precision    recall  f1-score   support

   rectangle       1.00      1.00      1.00        28
     rhombus       1.00      1.00      1.00        16
      square       1.00      1.00      1.00        18
   trapezoid       1.00      1.00      1.00        18

    accuracy                           1.00        80
   macro avg       1.00      1.00      1.00        80
weighted avg       1.00      1.00      1.00        80

正解率 =  100.0 %